@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
    /*cursor: none !important;*/
}

/*a,
button,
input,
textarea,
select,
[role="button"],
* {
    cursor: none !important;
}*/

.font-baskerville {
    font-family: "Libre Baskerville", serif;
}