@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
}

.font-baskerville {
    font-family: "Libre Baskerville", serif;
}

.img-gray {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.img-color {
    filter: grayscale(0%);
    transition: filter 0.3s ease;
}

/* Permite usar hover:img-color */
.hover\:img-color:hover {
    filter: grayscale(0%);
}

.hover\:img-gray:hover {
    filter: grayscale(100%);
}